.btn {
  background-color: #000000; 
  border: none;
  border-radius: 0;
  color: #ffffff; 
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #4e4e4c;
  transform: scale(1.05); 
}
